.container{
    align-content: center;
}
.rPokemon{
    align-content: center;
}
.chuckContainer{
    margin: 0 auto;
    padding: 10px;
}
.weatherContainer{
   
    margin: 10;
    align-content: center;
}
.activityContainer{
    margin: 0 auto;
    align-content: center;
}
h1{
    text-align: center;
}
.pokemonContainer{
    margin: auto;
    padding: 10px;

}
.brewContainer{
    padding: 10;
    margin: auto;
}